/* Themes mode */
html[data-theme = 'dark'] {
    --html-background-color: rgb(28,31,38);
    --panel-background-color: linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(46, 142, 226, 1) 50%, rgba(99, 150, 197, 1) 100%);
    --calculate-background-color: #ffffff;
    --remember-color: #37373785;
}

html[data-theme = 'light'] {
    --html-background-color: rgb(255, 255, 255);
    --panel-background-color: linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(46, 142, 226, 1) 50%, rgba(99, 150, 197, 1) 100%);
    --calculate-background-color: rgb(28,31,38);
    --calculate-color: #ffffff;
    --remember-color: #e1e1e185;
} 